# generated: '2026-09-18'
# method: searched
# source: https://statable.com/api/v1/openapi.yaml
openapi: 3.1.0
info:
  title: Statable Stats API
  version: "1.0.0"
  description: >
    Read-only public analytics API for Statable. Authenticate with a bearer API
    key (`Authorization: Bearer stbl_<secret>`). **With no credential at all,
    start at `POST /auth/send-otp` + `POST /auth/verify-otp`** (tag `Bootstrap`,
    `security: []`): they register the account from an emailed code and return
    the first key, so nothing here needs a browser or a dashboard visit. A key
    can also be created by hand in the dashboard under Settings → API. The API
    is **server-side only**: an `stbl_` key is a secret
    and must never be embedded in browser JavaScript, so `/v1` and `/mcp` send no
    CORS headers. Endpoints: `GET /sites` (discover the sites a key can read),
    `POST /query` (run one analytics query), `GET /current-visitors` (realtime),
    `GET /props` (custom-property keys), and saved funnels (`GET /funnels`,
    `POST /funnels/{id}/report`). Analytics data is read-only; the one write
    surface is key management (`/keys*`, scope `keys:manage`), which is behind
    the server-side `API_WRITE_ENABLED` flag and answers 404 `write_disabled`
    while off. Human-readable reference: docs/public-api-v1.md and
    docs/api-v1-write-surface.md.
servers:
  - url: https://statable.com/api/v1
    description: Production
  - url: https://dev.statable.com/api/v1
    description: Development

security:
  - bearerAuth: []

tags:
  - name: Stats
    description: Read analytics data.
  - name: Keys
    description: >
      Manage API keys (write surface). Requires the `keys:manage` scope and the
      server-side `API_WRITE_ENABLED` flag; while the flag is off every route
      here answers 404 `write_disabled`. See docs/api-v1-write-surface.md.
  - name: Sites
    description: >
      Create, change and delete sites (write surface). Requires the
      `sites:write` scope and the server-side `API_WRITE_ENABLED` flag; the
      snippet route needs only `read`. See docs/api-v1-write-surface.md §5.
  - name: Bootstrap
    description: >
      Register an account and obtain its first API key without a browser. The
      only operations in this spec that take NO bearer token. Behind the
      server-side `API_BOOTSTRAP_ENABLED` flag; while it is off both routes
      answer 404 `write_disabled`. See docs/api-v1-write-surface.md §2.

paths:
  /sites:
    get:
      tags: [Stats]
      operationId: listSites
      summary: List the sites this key can read
      description: >
        Returns the sites the authenticating key may read — useful for
        discovering `site_id` values and token introspection. An all-sites key
        returns every accessible site (sorted by name); a single-site key
        returns just its one site (or an empty list if access was removed).
      parameters:
        - name: date_range
          in: query
          required: false
          description: >
            A preset (`7d`/`30d`/`month`/`realtime`) or `Nd` = last N full days,
            N in 1–90 (e.g. `7d`, `14d`) — the same scalar forms POST /query
            accepts (custom `[from,to]` pairs are /query-only). When present, each
            site gains a `stats` block with basic aggregate metrics for the window.
            Omit to keep the list lean (no analytics read). These batch stats are
            NOT per-site-timezone — use POST /query for TZ-exact numbers.
          schema:
            type: string
            pattern: '^(month|realtime|([1-9]|[1-8][0-9]|90)d)$'
            examples: ["7d", "30d"]
      responses:
        "200":
          description: The accessible sites.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SitesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

    post:
      tags: [Sites]
      operationId: createSite
      summary: Create a site and get its install snippet
      description: >
        Creates a site and returns everything needed to install tracking, so
        provisioning is one round-trip. Requires an ALL-SITES key: a single-site
        key gets 403 `key_not_scoped`, since the new site would be outside its own
        scope. A duplicate url is 409 `site_exists` — unlike the dashboard, which
        permits it: for an agent a duplicate is nearly always a retry that lost its
        response. The first non-hobby site starts the trial subscription exactly as
        the dashboard does. Send an `Idempotency-Key` to make retries safe.
      x-required-scope: sites:write
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
          description: >
            Replays the stored response for 24 hours instead of creating a second
            site. Reuse with a different body is 409 `idempotency_conflict`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSiteRequest"
            examples:
              regular:
                value:
                  url: https://example.com
                  timezone: Europe/Kyiv
              hobby:
                summary: Hobby site (domain must match a hobby suffix)
                value:
                  url: https://myproject.github.io
                  hobby: true
      responses:
        "200":
          description: The created site, with its script URL and snippet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteDetail"
        "400":
          description: "`invalid_request` — missing url, bad timezone, or a domain not eligible for hobby."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "`insufficient_scope` or `key_not_scoped` (a single-site key)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/WriteDisabled"
        "409":
          description: "`site_exists` or `idempotency_conflict`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /query:
    post:
      tags: [Stats]
      operationId: query
      summary: Run one analytics query
      description: >
        One query returns a list of result rows. With no `dimensions` it is an
        aggregate (one row); with one time dimension (`time[:hour|day|week|month]`)
        it is a time series; with one breakdown dimension it is a top-N list plus a
        `meta` pagination block. The response always echoes the resolved request in
        `query` (most usefully `date_range` normalized to concrete `[from,to]`
        dates). At most one dimension per query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
            examples:
              aggregate:
                summary: Aggregate, last 7 days
                value:
                  site_id: 3093477
                  metrics: ["visitors", "pageviews"]
                  date_range: "7d"
              timeseries:
                summary: Daily series, one country
                value:
                  site_id: 3093477
                  metrics: ["visitors"]
                  date_range: ["2026-06-01", "2026-06-30"]
                  dimensions: ["time:day"]
                  filters:
                    - { field: "country", operator: "is", values: ["US"] }
              breakdown:
                summary: Top 10 countries
                value:
                  site_id: 3093477
                  metrics: ["visitors", "bounce_rate"]
                  date_range: "30d"
                  dimensions: ["visit:country"]
                  limit: 10
      responses:
        "200":
          description: Query result.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /subscription:
    get:
      tags: [Stats]
      operationId: getSubscription
      summary: The account's subscription state
      description: >
        The subscription of the key's owner, in one line's worth of fields:
        enough to say "Trial — N days left", not a billing page. Hobby-only
        accounts have no subscription and answer `status: "none"` with
        `only_hobby: true`.
      x-required-scope: read
      responses:
        "200":
          description: The current subscription state.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                required: [status, is_trial, only_hobby]
                properties:
                  status:
                    type: string
                    enum: [trialing, active, past_due, expired, trial_expired, none]
                  is_trial:
                    type: boolean
                  ends_at:
                    type: string
                    format: date-time
                    description: >
                      When the current state stops being true — the trial's end
                      while trialing, the paid period's end otherwise. Absent
                      when unknown.
                  only_hobby:
                    type: boolean
                    description: True when the account has hobby sites and nothing else.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /current-visitors:
    get:
      tags: [Stats]
      operationId: currentVisitors
      summary: Live count of visitors active in the last 5 minutes
      parameters:
        - name: site_id
          in: query
          required: false
          description: Numeric site id. Optional for a single-site key; required for an all-sites key.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Realtime unique-visitor count.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                properties:
                  site_id: { type: integer, format: int64 }
                  visitors: { type: integer, format: int64 }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /props:
    get:
      tags: [Stats]
      operationId: listPropKeys
      summary: List a site's custom-property keys
      description: >
        The custom-property keys a site has recorded (each paired with the event
        it was sent with) — discovery for the event:props:<key> breakdown. Returns
        the full set (no pagination) for the window.
      parameters:
        - name: site_id
          in: query
          required: false
          description: Numeric site id. Optional for a single-site key; required for an all-sites key.
          schema:
            type: integer
            format: int64
        - name: date_range
          in: query
          required: false
          description: >
            Same forms as /query (default 30d): a preset `7d`/`30d`/`month`, or a
            URL-encoded custom pair `["YYYY-MM-DD","YYYY-MM-DD"]`.
          schema:
            type: string
      responses:
        "200":
          description: The site's custom-property keys.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                properties:
                  props:
                    type: array
                    items:
                      type: object
                      properties:
                        key: { type: string }
                        event: { type: string }
                        count: { type: integer, format: int64 }
                        first_seen: { type: string, format: date-time }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /funnels:
    get:
      tags: [Stats]
      operationId: listFunnels
      summary: List a site's configured conversion funnels
      description: >
        Returns the site's saved funnel definitions (managed in the dashboard).
        Use a funnel `id` with POST /funnels/{id}/report. Funnels are read-only
        over the API — this endpoint does not create or edit them.
      parameters:
        - name: site_id
          in: query
          required: false
          description: Numeric site id. Optional for a single-site key (defaults to its site); required for an all-sites key.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: The site's funnel definitions.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                required: [funnels]
                properties:
                  funnels:
                    type: array
                    items:
                      $ref: "#/components/schemas/FunnelDefinition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /funnels/{id}/report:
    post:
      tags: [Stats]
      operationId: runFunnelReport
      summary: Run a saved funnel and return per-step conversions
      description: >
        Runs a saved funnel over a date range (+ optional segment filters) and
        returns an ORDERED per-step result with top-level scalars — a bespoke,
        non-tabular shape (funnel output is not rows). `steps` must not be sorted;
        `conversion_rate` is cumulative versus the first step (`entering`), not
        step-to-step. The intra-conversion window is a fixed 1 day, independent of
        `date_range` (which only bounds the sessions scanned).
      parameters:
        - name: id
          in: path
          required: true
          description: Funnel id (from GET /funnels).
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunnelReportRequest"
            examples:
              basic:
                summary: Last 30 days
                value:
                  site_id: 3093477
                  date_range: "30d"
              segmented:
                summary: Segmented by country
                value:
                  site_id: 3093477
                  date_range: ["2026-06-01", "2026-06-30"]
                  filters:
                    - { field: "country", operator: "is", values: ["DE"] }
      responses:
        "200":
          description: The funnel result.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunnelReportResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /auth/send-otp:
    post:
      tags: [Bootstrap]
      operationId: bootstrapSendOTP
      summary: Email a one-time code
      description: >
        Sends a 6-digit code to the address, valid for a short window and usable
        once. Takes no credential — this is the entry point for a client that has
        none. Rate limited per email (2/minute), per IP (5/hour) and per IP across
        the whole bootstrap branch (20/hour). The response is identical whether or
        not the address already has an account, so it cannot be used to test for
        one.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BootstrapSendOTPRequest"
            examples:
              default:
                value:
                  email: agent@yourcompany.com
      responses:
        "200":
          description: The code was sent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapSendOTPResponse"
        "400":
          description: >
            `invalid_request` — a valid email is required. `email_undeliverable` — the
            address can never receive mail (a reserved domain such as example.com, or a
            non-ASCII mailbox no provider accepts), so no code is generated and nothing
            is sent. `domain_not_allowed` — the address sits in a zone we do not serve.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/WriteDisabled"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /auth/verify-otp:
    post:
      tags: [Bootstrap]
      operationId: bootstrapVerifyOTP
      summary: Consume the code and receive the first API key
      description: >
        Verifies the code, creates the account if the address is new, records the
        terms acceptance, and returns a freshly minted key — the raw token EXACTLY
        ONCE. `accept_terms` must be true. Requested `scopes` must be within
        `API_BOOTSTRAP_SCOPES` (default `read,sites:write`); omitting them yields
        that whole set, and `billing:write` is never obtainable here. Everything
        that can be rejected without the code is validated first, so a bad field
        does not burn a valid code. The key is always all-sites and always expires
        (90 days by default, 365 max).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BootstrapVerifyOTPRequest"
            examples:
              provisioning:
                summary: Register and get a key that can create sites
                value:
                  email: agent@yourcompany.com
                  code: "123456"
                  accept_terms: true
                  key_name: provisioning bot
              readOnly:
                summary: Read-only key, 30 days
                value:
                  email: agent@yourcompany.com
                  code: "123456"
                  accept_terms: true
                  scopes: ["read"]
                  expires_in_days: 30
      responses:
        "200":
          description: The account and its first key, including the one-time token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapVerifyOTPResponse"
        "400":
          description: >
            `terms_not_accepted` (accept_terms was not true — no account is
            created), `invalid_request`, `invalid_scope` (outside the bootstrap
            allowlist), `invalid_expiry`, or `key_limit_reached` (an existing
            account already holds 10 active keys).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "`otp_invalid` — the code is wrong, expired, or already used."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/WriteDisabled"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Numeric site id.
    patch:
      tags: [Sites]
      operationId: updateSite
      summary: Change a site's url, timezone or week start
      description: >
        Owner or admin only — a member gets 403 `not_site_owner`. Omitted
        fields are left alone. Unlike the read surface there is no tracking-active
        gate: a lapsed account must still be able to fix and clean up its sites.
        Another account's id answers 404 `unknown_site`, exactly as a nonexistent
        one.
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSiteRequest"
            examples:
              timezone:
                value:
                  timezone: UTC
                  week_start: 0
      responses:
        "200":
          description: The updated site.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteDetail"
        "400":
          description: "`invalid_request` — bad url, timezone or week_start."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "`insufficient_scope`, `key_not_scoped`, or `not_site_owner`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "`write_disabled` or `unknown_site`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: "`site_exists` — the account already uses that url."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    delete:
      tags: [Sites]
      operationId: deleteSite
      summary: Delete a site
      description: >
        Owner only — an admin may edit the site but not delete it — and it
        really deletes: the site plus its goals, hostnames, blocklists and import
        jobs, with its ClickHouse data removed asynchronously. An admin or a
        member gets 403 `not_site_owner` — there is no API
        equivalent of the dashboard's "remove my access".
      x-required-scope: sites:write
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "`insufficient_scope`, `key_not_scoped`, or `not_site_owner`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "`write_disabled` or `unknown_site`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/snippet:
    get:
      tags: [Sites]
      operationId: getSiteSnippet
      summary: The install tag for a site
      description: >
        Returns the script URL and the ready-to-paste tag. Scope `read`, not
        `sites:write`: the snippet is public information (it ends up in the page
        source), and shared users may install tracking too. `type` selects a
        widget instead of the tracker: a hobby site gets the bundled `/t/` build,
        which counts as well as draws, a paid site the widget-only build — its
        counting is the tracker tag it installs separately.
      x-required-scope: read
      parameters:
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [globe, live-users, map, countries]
          description: Omit for the tracking script.
      responses:
        "200":
          description: The install URL and snippet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteSnippet"
        "400":
          description: "`invalid_request` — unknown snippet type."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "`insufficient_scope` or `key_not_scoped`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "`write_disabled` or `unknown_site`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/goals:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Numeric site id.
    get:
      tags: [Sites]
      operationId: listSiteGoals
      summary: The site's goals
      description: Goal definitions with their ids, for the write calls below.
      x-required-scope: read
      responses:
        "200":
          description: The site's goals.
          content:
            application/json:
              schema:
                type: object
                required: [goals]
                properties:
                  goals:
                    type: array
                    items:
                      $ref: "#/components/schemas/Goal"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    post:
      tags: [Sites]
      operationId: createGoal
      summary: Create a goal
      description: >
        Owner or admin only. A duplicate name is 409 `goal_exists`.
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoalRequest"
            examples:
              page:
                value:
                  name: Signup
                  path: /thanks
                  operator: e
              event:
                value:
                  name: Newsletter
                  event_name: newsletter_signup
      responses:
        "200":
          description: The created goal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Goal"
        "400":
          $ref: "#/components/responses/SiteBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "409":
          description: "`goal_exists`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/goals/{goalId}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: goalId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags: [Sites]
      operationId: updateGoal
      summary: Replace a goal
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoalRequest"
      responses:
        "200":
          description: The updated goal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Goal"
        "400":
          $ref: "#/components/responses/SiteBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          description: "`write_disabled`, `unknown_site`, or `goal_not_found`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: "`goal_exists`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    delete:
      tags: [Sites]
      operationId: deleteGoal
      summary: Delete a goal
      x-required-scope: sites:write
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          description: "`write_disabled`, `unknown_site`, or `goal_not_found`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/funnels:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Numeric site id.
    post:
      tags: [Sites]
      operationId: createFunnel
      summary: Create a funnel
      description: >
        Owner or admin only. A step pointing at a goal this site does not have is 400,
        naming the step. A duplicate name is 409 `funnel_exists`. Listing and
        running funnels lives on the read surface (GET /funnels,
        POST /funnels/{id}/report).
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunnelRequest"
            examples:
              pageThenGoal:
                value:
                  name: Signup flow
                  steps:
                    - kind: page
                      path: /
                    - kind: goal
                      goal_id: 12
      responses:
        "200":
          description: The created funnel.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunnelDefinition"
        "400":
          $ref: "#/components/responses/SiteBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "409":
          description: "`funnel_exists`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/funnels/{funnelId}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: funnelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      tags: [Sites]
      operationId: updateFunnel
      summary: Replace a funnel
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunnelRequest"
      responses:
        "200":
          description: The updated funnel.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FunnelDefinition"
        "400":
          $ref: "#/components/responses/SiteBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          description: "`write_disabled`, `unknown_site`, or `unknown_funnel`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: "`funnel_exists`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    delete:
      tags: [Sites]
      operationId: deleteFunnel
      summary: Delete a funnel
      x-required-scope: sites:write
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          description: "`write_disabled`, `unknown_site`, or `unknown_funnel`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/settings/tracking:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Numeric site id.
    get:
      tags: [Sites]
      operationId: getTrackingSettings
      summary: What the installed script collects
      description: >
        Returns the site's effective feature selection plus the full catalogue —
        each entry's state, its dependencies and its marginal brotli cost — so a
        caller can trade capability against script weight without a second call.
        Owner or admin only.
      x-required-scope: sites:write
      responses:
        "200":
          description: The site's tracking settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "`insufficient_scope`, `key_not_scoped`, or `not_site_owner`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "`write_disabled` or `unknown_site`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    put:
      tags: [Sites]
      operationId: setTrackingSettings
      summary: Set the tracking feature list
      description: >
        Replaces the selection wholesale. `features` is REQUIRED — an omitted key
        would be indistinguishable from `[]`, which disables everything optional.
        Locked features stay enabled whether or not they are sent, and a feature
        whose `requires` are unmet is rejected. Applying repoints the served
        bundle, then stores the selection, then purges the CDN — the same order
        the dashboard uses. Owner or admin only.
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackingSettingsRequest"
            examples:
              minimal:
                summary: Only the locked defaults
                value:
                  features: []
              withScroll:
                value:
                  features: ["utm", "engagement", "scroll"]
      responses:
        "200":
          description: The settings after the change.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingSettings"
        "400":
          description: "`invalid_request` — features omitted, unknown, or a dependency unmet."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "`insufficient_scope`, `key_not_scoped`, or `not_site_owner`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "`write_disabled` or `unknown_site`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/settings/hostnames:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Sites]
      operationId: getHostnameSettings
      summary: Hostname allow/block list
      x-required-scope: read
      responses:
        "200":
          description: The current setting.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostnameList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    put:
      tags: [Sites]
      operationId: setHostnameSettings
      summary: Replace the hostname lists
      description: >
        Owner or admin only; replaces the whole list. Unlike the dashboard equivalent this
        answers 400/500 on a bad body or a failed write instead of 200 with
        success:false — a status-checking client must not read a failure as done.
        
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HostnameListRequest"
      responses:
        "200":
          description: Applied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingsCount"
        "400":
          $ref: "#/components/responses/SiteBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/settings/blocked-ips:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Sites]
      operationId: getBlockedIPs
      summary: IP blocklist
      x-required-scope: read
      responses:
        "200":
          description: The current setting.
          content:
            application/json:
              schema:
                type: object
                required: [blocked_ips]
                properties:
                  blocked_ips:
                    type: array
                    description: >
                      Blocked client IPs, as strings. Note the asymmetry with PUT,
                      which takes the bare array as its request body.
                    items:
                      type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    put:
      tags: [Sites]
      operationId: setBlockedIPs
      summary: Replace the IP blocklist
      description: >
        Owner or admin only; replaces the whole list. Unlike the dashboard equivalent this
        answers 400/500 on a bad body or a failed write instead of 200 with
        success:false — a status-checking client must not read a failure as done.
        
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        "200":
          description: Applied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingsCount"
        "400":
          $ref: "#/components/responses/SiteBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/settings/countries:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Sites]
      operationId: getCountrySettings
      summary: Country allow/block list
      x-required-scope: read
      responses:
        "200":
          description: The current setting.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    put:
      tags: [Sites]
      operationId: setCountrySettings
      summary: Replace the country lists
      description: >
        Owner or admin only; replaces the whole list. Unlike the dashboard equivalent this
        answers 400/500 on a bad body or a failed write instead of 200 with
        success:false — a status-checking client must not read a failure as done.
        
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CountryListRequest"
      responses:
        "200":
          description: Applied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingsCount"
        "400":
          $ref: "#/components/responses/SiteBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /sites/{id}/settings/public-dashboard:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Sites]
      operationId: getPublicDashboard
      summary: Whether the site's stats are world-readable
      x-required-scope: read
      responses:
        "200":
          description: The current setting.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDashboard"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    put:
      tags: [Sites]
      operationId: setPublicDashboard
      summary: Publish or unpublish the site's stats
      description: >
        Owner or admin only. `enabled` must be sent explicitly — this is the one setting
        that changes who can SEE the data, so an absent field must not read as
        "turn it off".


        A hobby site on a free account is always public and answers
        `409 hobby_always_public` to `enabled: false`. Its stats are the widget it
        ships, and the hash that addresses them is already in the page's markup;
        `enabled: true` on one succeeds as a no-op. An owner with a paid
        subscription (`active`, or `past_due` during a retried renewal) may turn it off.
      x-required-scope: sites:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicDashboard"
      responses:
        "200":
          description: Applied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDashboard"
        "400":
          $ref: "#/components/responses/SiteBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/SiteForbidden"
        "404":
          $ref: "#/components/responses/SiteNotFound"
        "409":
          description: "`hobby_always_public` — the site is hobby and its owner has no paid subscription, so it cannot be made private."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /keys:
    get:
      tags: [Keys]
      operationId: listApiKeys
      summary: List the account's active API keys
      description: >
        Returns the owner's active (non-revoked) keys, newest first. No token or
        hash is ever returned here — the raw token exists only in the create and
        rotate responses.
      x-required-scope: keys:manage
      responses:
        "200":
          description: The account's active keys.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/KeysForbidden"
        "404":
          $ref: "#/components/responses/WriteDisabled"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"
    post:
      tags: [Keys]
      operationId: createApiKey
      summary: Create an API key
      description: >
        Mints a key and returns its raw token EXACTLY ONCE. The requested scopes
        must be a subset of the authenticating key's scopes (else 403
        `scope_escalation`), and a single-site key may only create keys locked to
        its own site (else 403 `key_not_scoped`). `expires_in_days` defaults to 90
        and is capped at 365 — unlike the dashboard, the API cannot mint a key
        that never expires. Max 10 active keys per account.
      x-required-scope: keys:manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequest"
            examples:
              readOnly:
                summary: Read-only key, default 90-day expiry
                value:
                  name: reporting job
                  scopes: ["read"]
              singleSite:
                summary: Key locked to one site, 30 days
                value:
                  name: site bot
                  scopes: ["read"]
                  website_id: 3093477
                  expires_in_days: 30
      responses:
        "200":
          description: The created key, including the one-time raw token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedAPIKey"
        "400":
          $ref: "#/components/responses/KeysBadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/KeysForbidden"
        "404":
          description: >
            `write_disabled` (the write surface is off) or `unknown_site`
            (`website_id` does not exist or the owner cannot reach it —
            deliberately indistinguishable).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /keys/{id}:
    delete:
      tags: [Keys]
      operationId: revokeApiKey
      summary: Revoke an API key
      description: >
        Revokes the key; its token stops authenticating immediately. A key cannot
        revoke itself (409 `self_modification`).
      x-required-scope: keys:manage
      parameters:
        - $ref: "#/components/parameters/ApiKeyId"
      responses:
        "204":
          description: Revoked.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/KeysForbidden"
        "404":
          $ref: "#/components/responses/KeyNotFound"
        "409":
          $ref: "#/components/responses/SelfModification"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /keys/{id}/rotate:
    post:
      tags: [Keys]
      operationId: rotateApiKey
      summary: Issue a fresh secret for an API key
      description: >
        Replaces the key's secret in place — same id, name, site scope, scopes and
        expiry — and invalidates the old token immediately. The new token is
        returned exactly once. No request body. A key cannot rotate itself (409
        `self_modification`).
      x-required-scope: keys:manage
      parameters:
        - $ref: "#/components/parameters/ApiKeyId"
      responses:
        "200":
          description: The rotated key, including the one-time raw token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedAPIKey"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/KeysForbidden"
        "404":
          $ref: "#/components/responses/KeyNotFound"
        "409":
          $ref: "#/components/responses/SelfModification"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

  /keys/{id}/events:
    get:
      tags: [Keys]
      operationId: listApiKeyEvents
      summary: The key's lifecycle audit trail
      description: >
        Returns the key's create / rotate / revoke events, newest first (revoked
        keys keep their trail). `actor_key_id` names the API key that performed
        the action, or null when it was done from the dashboard.
      x-required-scope: keys:manage
      parameters:
        - $ref: "#/components/parameters/ApiKeyId"
      responses:
        "200":
          description: The key's audit trail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyEventList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/KeysForbidden"
        "404":
          $ref: "#/components/responses/KeyNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/Internal"

components:
  parameters:
    ApiKeyId:
      name: id
      in: path
      required: true
      description: Numeric API key id (from GET /keys).
      schema:
        type: integer
        format: int64

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: stbl_<secret>
      description: >
        A key minted in Settings → API. All tokens start with `stbl_`. Missing,
        malformed, invalid, expired, or revoked → 401. Every operation in this
        spec requires the key's `read` scope; without it → 403
        `insufficient_scope`.

  headers:
    X-Request-ID:
      description: >
        Correlation id for support, present on every response including
        successful ones. The leading segment names the node that served the
        request, so this one value is enough to locate the log entry. Error
        bodies repeat it as `request_id`. A client-supplied X-Request-ID is
        recorded server-side but never echoed back in place of ours.
      schema:
        type: string
        example: ch-node01-01997f2a8b3c7d5e8f01abcdef123456
    X-RateLimit-Limit:
      description: The per-key hourly rate limit for your plan.
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Requests left in the current per-key window.
      schema:
        type: integer
    X-RateLimit-Reset:
      description: Seconds until the per-key window resets (delta-seconds, not an epoch).
      schema:
        type: integer

  responses:
    BadRequest:
      description: >
        Invalid request. Branch on the stable `code`: invalid_request,
        metrics_required, unknown_metric, too_many_dimensions, unknown_dimension,
        invalid_date_range, invalid_interval, metric_not_available, invalid_filter,
        event_filter_required, invalid_compare, compare_length_mismatch,
        site_id_required, limit_offset_misuse.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing/malformed/invalid/expired/revoked bearer token (`unauthorized`).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: >
        `insufficient_scope` (the key lacks the `read` scope every endpoint here
        requires), `key_not_scoped` (single-site key asked for a different site)
        or `tracking_inactive` (the site's tracking has stopped).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: >
        `unknown_site` — the `site_id` does not exist OR the key's owner has no
        access. Deliberately indistinguishable (same status AND code) so a key
        cannot enumerate which site_ids exist. `unknown_funnel` (funnel endpoints
        only) — the funnel id is not found for the resolved site.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: >
        Hourly account (default 2000/h) or per-key (default 600/h) limit hit
        (`rate_limited`). Retry after the `Retry-After` seconds. The X-RateLimit-*
        headers report the window that tripped (account on an account limit).
      headers:
        Retry-After:
          description: Seconds until you may retry.
          schema:
            type: integer
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Internal:
      description: >
        Unexpected server error (`internal`). Report it with the `request_id`
        from the body or the X-Request-ID header: it is what lets the exact log
        entry be found, and without it a 500 can only be matched by guessing at a
        time window.
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    KeysBadRequest:
      description: >
        Invalid request. Branch on the stable `code`: invalid_request (malformed
        body or a name outside 1–100 characters), invalid_scope (scope not in the
        vocabulary), invalid_expiry (expires_in_days outside 1–365),
        key_limit_reached (10 active keys already).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    KeysForbidden:
      description: >
        `insufficient_scope` (the key lacks `keys:manage`), `scope_escalation`
        (requested scopes exceed the authenticating key's scopes) or
        `key_not_scoped` (a single-site key tried to widen its site scope).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    KeyNotFound:
      description: >
        `api_key_not_found` — unknown, already revoked, or another account's key
        id (deliberately indistinguishable). Or `write_disabled` when the write
        surface is off.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    SiteBadRequest:
      description: "`invalid_request` — the body or a field is not acceptable."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    SiteForbidden:
      description: "`insufficient_scope`, `key_not_scoped`, or `not_site_owner`."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    SiteNotFound:
      description: "`write_disabled` or `unknown_site`."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    WriteDisabled:
      description: >
        `write_disabled` — the write surface is off (`API_WRITE_ENABLED=false`).
        404 rather than 403 so a disabled surface is not advertised.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    SelfModification:
      description: >
        `self_modification` — a key may not rotate or revoke itself, so an agent
        cannot destroy the credential it is mid-flow with.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Metric:
      type: string
      description: >
        `visits` = sessions. `visit_duration` in seconds. `bounce_rate` is a
        0–100 percentage. `views_per_visit` = pageviews/visits (2 decimals).
        `engagement_time` = avg active-engagement seconds (aggregate + time-series,
        distinct from visit_duration). `events` = raw event count (breakdowns
        event:name/props/goal). `conversion_rate` = converters percent (event:goal).
        `time_on_page`/`scroll_depth` = avg seconds / avg max scroll% 0-100
        (event:page, event:folder). `exit_rate` = exits percent of pageviews
        (visit:exit_page). The last five are breakdown-only: off their dimension,
        and on an aggregate or a time series, they return `metric_not_available`
        naming the shape and the dimensions that do compute them.
        `unknown_metric` means the name itself is not a metric we compute.
      enum:
        - visitors
        - pageviews
        - visits
        - visit_duration
        - bounce_rate
        - views_per_visit
        - engagement_time
        - events
        - conversion_rate
        - time_on_page
        - scroll_depth
        - exit_rate

    Dimension:
      type: string
      description: >
        At most one per query. A time dimension yields a series; a breakdown
        dimension yields top-N rows. Not every metric is valid for every
        breakdown — a metric the builder does not compute returns
        `metric_not_available`. In addition to the enum below, a dynamic
        `event:props:<key>` dimension breaks a custom event down by one of its
        property values (metrics `visitors` + `events`); it requires an `event`
        filter to name the event, else `event_filter_required`.
      enum:
        - time
        - time:minute
        - time:hour
        - time:day
        - time:week
        - time:month
        - visit:source
        - visit:referrer
        - visit:channel
        - visit:utm_source
        - visit:utm_medium
        - visit:utm_campaign
        - visit:utm_content
        - visit:utm_term
        - visit:country
        - visit:region
        - visit:city
        - visit:browser
        - visit:browser_version
        - visit:os
        - visit:os_version
        - visit:device
        - visit:entry_page
        - visit:exit_page
        - event:page
        - event:folder
        - event:hostname
        - event:name
        - event:goal
        - event:status_code

    DateRange:
      description: >
        A scalar string — a preset (`7d`/`30d` = last N full days; `month` =
        current calendar month to date; `realtime` = last ~30 min) or a bare
        `Nd` for the last N days, N in 1–90 (e.g. `14d`) — OR a custom inclusive
        `[from, to]` pair of `YYYY-MM-DD` dates with `from <= to` and a span of
        at most 366 days. The scalar forms are exactly what `GET /sites` accepts;
        for a window over 90 days use a custom pair.
      oneOf:
        - type: string
          pattern: '^(month|realtime|([1-9]|[1-8][0-9]|90)d)$'
        - type: array
          minItems: 2
          maxItems: 2
          items:
            type: string
            format: date
      examples:
        - "7d"
        - "14d"
        - ["2026-06-01", "2026-06-30"]

    Filter:
      type: object
      additionalProperties: false
      required: [field, operator, values]
      properties:
        field:
          type: string
          description: >
            Field name WITHOUT the visit:/event: prefix. Geo fields take codes,
            not names (country/region = ISO/subdivision codes, city = numeric
            geoname_id — the values geo breakdowns return). The `event` field
            filters by a custom event name (an `event:name` breakdown value) and
            restricts the whole query to that event's sessions; it accepts ONLY
            operator `is` with a single non-standard value (not `pageview` /
            `engagement`) — other forms return `invalid_filter`.
          enum:
            - browser
            - browser_version
            - os
            - os_version
            - device
            - country
            - city
            - region
            - hostname
            - utm_source
            - utm_medium
            - utm_campaign
            - utm_content
            - utm_term
            - entry_page
            - exit_page
            - source
            - channel
            - referrer
            - page
            - code
            - event
        operator:
          type: string
          enum: [is, is_not, contains, does_not_contain]
        values:
          type: array
          minItems: 1
          description: OR-ed together. A value may not contain a comma.
          items:
            type: string

    QueryRequest:
      type: object
      additionalProperties: false
      required: [metrics, date_range]
      properties:
        site_id:
          type: integer
          format: int64
          description: >
            Required for an all-sites key; optional for a single-site key
            (defaults to the key's site). Omitting it on an all-sites key →
            `site_id_required`.
        metrics:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/Metric"
        date_range:
          $ref: "#/components/schemas/DateRange"
        dimensions:
          type: array
          maxItems: 1
          description: Zero or one element. Omit / empty = aggregate.
          items:
            $ref: "#/components/schemas/Dimension"
        filters:
          type: array
          items:
            $ref: "#/components/schemas/Filter"
        limit:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Breakdown queries only. Clamped to 1–1000. Sending it on an aggregate or time-series query → `limit_offset_misuse`.
        offset:
          type: integer
          minimum: 0
          default: 0
          description: Breakdown queries only. Sending it on an aggregate or time-series query → `limit_offset_misuse`.
        compare:
          description: >
            `"previous_period"` (equal-length window before date_range) or a
            custom `["YYYY-MM-DD","YYYY-MM-DD"]` pair. Adds a `compare`
            {value, change%} block — per metric (aggregate), per row (breakdown,
            each row's true previous value; not on event:status_code/event:goal),
            or per bucket (time-series) — plus `compare_date_range` to the query
            echo. The compare range must be the same length as date_range
            (`previous_period` always is) → an unequal custom pair yields
            `compare_length_mismatch`.
          oneOf:
            - type: string
              enum: [previous_period]
            - type: array
              minItems: 2
              maxItems: 2
              items: { type: string, format: date }

    ResultRow:
      type: object
      properties:
        dimensions:
          type: object
          description: >
            Absent for aggregate queries. Keyed by the requested dimension
            string. For geo breakdowns the value is the round-trip code
            (visit:country → ISO alpha-2, visit:region → subdivision code,
            visit:city → numeric geoname_id) — exactly what the matching filter
            accepts.
          additionalProperties:
            type: string
        labels:
          type: object
          description: >
            Present only on geo breakdowns — the human-readable display name for
            the code in `dimensions`, keyed by the same dimension.
          additionalProperties:
            type: string
        metrics:
          type: object
          description: The requested metrics for this row.
          additionalProperties:
            type: number
        compare:
          type: object
          description: >
            Present only when the request set `compare`. Keyed by metric →
            {value, change}: the metric's value in the compare window and the
            percent change vs it. Not emitted on event:status_code / event:goal.
          additionalProperties:
            type: object
            properties:
              value: { type: number }
              change: { type: number }

    Meta:
      type: object
      description: Present only on breakdown responses.
      properties:
        total:
          type: integer
          description: Total distinct values for the window, across all pages.
        limit:
          type: integer
          description: Effective limit after clamping.
        offset:
          type: integer
        has_more:
          type: boolean
          description: True when offset + returned rows < total. Page again with offset += limit.

    QueryEcho:
      type: object
      description: Echo of the resolved request.
      properties:
        site_id:
          type: integer
          format: int64
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/Metric"
        date_range:
          type: array
          description: Always the resolved concrete [from, to] YYYY-MM-DD window (presets normalized).
          minItems: 2
          maxItems: 2
          items:
            type: string
            format: date
        compare_date_range:
          type: array
          description: Present only when `compare` was set — the resolved [from, to] of the compare window.
          minItems: 2
          maxItems: 2
          items:
            type: string
            format: date
        dimensions:
          type: array
          items:
            $ref: "#/components/schemas/Dimension"
        filters:
          type: array
          items:
            $ref: "#/components/schemas/Filter"

    QueryResponse:
      type: object
      required: [results, query]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/ResultRow"
        meta:
          $ref: "#/components/schemas/Meta"
        query:
          $ref: "#/components/schemas/QueryEcho"
        has_import:
          type: boolean
          description: True when the site has imported (e.g. GA4) data overlapping the queried window.

    SiteStats:
      type: object
      properties:
        date_range:
          type: string
        metrics:
          type: object
          additionalProperties:
            type: number

    SiteSummary:
      type: object
      required: [site_id, name, hash, timezone, hobby]
      properties:
        site_id:
          type: integer
          format: int64
          description: The numeric id you pass as `site_id` to /query.
        name:
          type: string
          description: >
            The site's domain. For the configured public demo site this is
            masked to `example.com` — see "The demo site is masked" in
            docs/public-api-v1.md; breakdown values carrying the host are
            masked the same way.
        hash:
          type: string
          description: >
            The site's public token, used by widget script URLs and the shared
            dashboard link. Integrations need it and previously had to parse it
            out of a widget snippet URL — which only worked for hobby sites,
            since a paid site's tracker URL is keyed by the numeric id.
        timezone:
          type: string
          description: The site's reporting timezone.
        hobby:
          type: boolean
          description: >
            True for a site on the free plan. It decides how the site counts at
            all: a hobby site is tracked by the bundled `/t/` build (widget plus
            counter) carrying a `data-id` attribute, and an event reaching us
            from any other build is refused. Install `GET /sites/{id}/snippet`
            verbatim and this is handled for you; branch on it only if you build
            the tag yourself.
        stats_start_date:
          type: [string, "null"]
          format: date
          description: Stored value only (not computed on the fly); null if not yet computed.
        created_at:
          type: string
          format: date-time
        stats:
          $ref: "#/components/schemas/SiteStats"

    SitesResponse:
      type: object
      required: [sites]
      properties:
        sites:
          type: array
          items:
            $ref: "#/components/schemas/SiteSummary"

    Error:
      type: object
      required: [error, code]
      properties:
        hint:
          type: string
          description: >
            One sentence on what to do next. Present only on the errors a client
            meets while exploring (`not_found`, `method_not_allowed`); other
            errors omit it. Human-readable — do not branch on it.
          example: "Use one of: GET, POST."
        docs:
          type: string
          format: uri
          description: >
            Where to read more. Present together with `hint`, omitted otherwise.
          example: https://statable.com/api/v1/openapi.yaml
        request_id:
          type: string
          description: >
            Same value as the X-Request-ID response header, repeated here because
            clients log bodies more often than headers. Quote it in a support
            request. Present on every error, including the `not_found` and
            `method_not_allowed` answers for a path or method that has no
            route.
          example: ch-node01-01997f2a8b3c7d5e8f01abcdef123456
        error:
          type: string
          description: Human-readable detail. May be reworded — do not branch on it.
        code:
          type: string
          description: >
            Stable machine-readable slug (contract — never changes). The
            `ambiguous_domain` code is emitted only by the MCP tools (when a
            `site` domain matches more than one stored site), not by /query.
          enum:
            - invalid_request
            - metrics_required
            - unknown_metric
            - too_many_dimensions
            - unknown_dimension
            - invalid_date_range
            - invalid_interval
            - metric_not_available
            - invalid_filter
            - event_filter_required
            - invalid_compare
            - compare_length_mismatch
            - site_id_required
            - limit_offset_misuse
            - unauthorized
            - insufficient_scope
            - key_not_scoped
            - tracking_inactive
            - unknown_site
            - unknown_funnel
            - rate_limited
            - internal
            - ambiguous_domain
            - invalid_scope
            - scope_escalation
            - invalid_expiry
            - key_limit_reached
            - api_key_not_found
            - self_modification
            - write_disabled
            - terms_not_accepted
            - otp_invalid
            - site_exists
            - domain_not_allowed
            - email_undeliverable
            - not_site_owner
            - idempotency_conflict
            - goal_exists
            - goal_not_found
            - funnel_exists
            - hobby_always_public
            - not_found
            - method_not_allowed

    APIKey:
      type: object
      description: >
        The non-secret view of a key. The raw token is never stored and never
        appears here — only in the create/rotate responses.
      required: [id, name, prefix, website_id, scopes, created_at]
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        prefix:
          type: string
          description: Non-secret fragment of the token, to identify the key in a list.
          examples: ["stbl_A1b2C3d4"]
        website_id:
          type: [integer, "null"]
          format: int64
          description: The site the key is locked to; null = all of the owner's sites.
        scopes:
          type: string
          description: Comma-separated scope set, in catalog order.
          examples: ["read", "read,keys:manage"]
        created_at:
          type: string
          format: date-time
        created_ip:
          type: [string, "null"]
        last_used_at:
          type: [string, "null"]
          format: date-time
        last_used_ip:
          type: [string, "null"]
        expires_at:
          type: [string, "null"]
          format: date-time
          description: >
            null = never expires. Only dashboard-created keys can be
            non-expiring; keys created over the API always carry an expiry.

    HostnameListRequest:
      type: object
      description: Replaces both lists. Send [] to clear one.
      properties:
        allowed:
          type: array
          items:
            type: string
        blocked:
          type: array
          items:
            type: string

    HostnameList:
      type: object
      description: The stored lists, as GET returns them. Both keys are always present; an empty list is [].
      required: [allowed, blocked]
      properties:
        allowed:
          type: array
          items:
            type: string
        blocked:
          type: array
          items:
            type: string

    CountryListRequest:
      type: object
      description: ISO 3166-1 alpha-2 codes. Replaces both lists.
      properties:
        allowed:
          type: array
          items:
            type: string
        blocked:
          type: array
          items:
            type: string

    CountryList:
      type: object
      description: >
        The stored lists, as GET returns them. Note the deliberate asymmetry with
        the PUT body: writes take bare ISO codes, reads return one entry per
        country with the time it was added. Both keys are always present; an empty
        list is [].
      required: [allowed, blocked]
      properties:
        allowed:
          type: array
          items:
            $ref: "#/components/schemas/CountryEntry"
        blocked:
          type: array
          items:
            $ref: "#/components/schemas/CountryEntry"

    CountryEntry:
      type: object
      required: [code, created_at]
      properties:
        code:
          type: string
          description: ISO 3166-1 alpha-2.
          example: DE
        created_at:
          type: string
          format: date-time
          description: When the country was added to the list.

    SettingsCount:
      type: object
      required: [site_id, count]
      properties:
        site_id:
          type: integer
          format: int64
        count:
          type: integer
          description: Entries stored after the replace.

    PublicDashboard:
      type: object
      required: [enabled]
      properties:
        site_id:
          type: integer
          format: int64
          readOnly: true
        enabled:
          type: boolean

    GoalRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        path:
          type: string
          description: URL path to match.
        operator:
          type: string
          enum: [e, b, c]
          default: e
          description: e = equals, b = begins with, c = contains.
        event_name:
          type: string
          description: Match a custom event instead of a path.
        scroll_depth:
          type: integer
          description: Percent scrolled.

    Goal:
      type: object
      required: [id, host_id, name]
      properties:
        id:
          type: integer
          format: int64
        host_id:
          type: integer
          format: int64
        name:
          type: string
        path:
          type: string
        operator:
          type: string
        event_name:
          type: string
        scroll_depth:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    FunnelRequest:
      type: object
      required: [name, steps]
      properties:
        name:
          type: string
        steps:
          type: array
          minItems: 2
          items:
            $ref: "#/components/schemas/FunnelStep"
        scope:
          type: string
          enum: [visitor, session]
          default: visitor
        strict_order:
          type: boolean


    TrackingSettingsRequest:
      type: object
      required: [features]
      properties:
        features:
          type: array
          description: >
            The complete desired selection. Send [] to keep only the locked
            defaults. Omitting the key is an error, not "unchanged".
          items:
            type: string

    TrackingFeatureState:
      type: object
      required: [id, label, enabled, locked, default, size_br]
      properties:
        id:
          type: string
        label:
          type: string
        enabled:
          type: boolean
        locked:
          type: boolean
          description: Always collected; cannot be turned off.
        default:
          type: boolean
        requires:
          type: array
          items:
            type: string
          description: Feature ids that must also be enabled.
        size_br:
          type: integer
          description: Marginal cost in bytes, brotli-compressed.

    TrackingSettings:
      type: object
      required: [site_id, version, bundle, enabled, features]
      properties:
        site_id:
          type: integer
          format: int64
        version:
          type: integer
          description: Catalogue version.
        bundle:
          type: string
          description: The build actually served for this site.
        enabled:
          type: array
          items:
            type: string
        features:
          type: array
          items:
            $ref: "#/components/schemas/TrackingFeatureState"

    CreateSiteRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          examples: ["https://example.com"]
        timezone:
          type: string
          description: IANA zone. Omitted = the server default.
          examples: ["Europe/Kyiv"]
        hobby:
          type: boolean
          default: false
          description: >
            Request a hobby site. The domain must match a configured hobby suffix.

    UpdateSiteRequest:
      type: object
      description: Omitted fields are left unchanged.
      properties:
        url:
          type: string
          description: Must start with http:// or https://.
        timezone:
          type: string
        week_start:
          type: integer
          minimum: 0
          maximum: 6
          description: 0 = Sunday … 6 = Saturday.

    SiteDetail:
      type: object
      required: [site_id, name, hash, timezone, week_start, hobby, script_url, snippet]
      properties:
        site_id:
          type: integer
          format: int64
        name:
          type: string
          description: The site url as stored.
        hash:
          type: string
          description: Same token as in SiteSummary.hash.
        timezone:
          type: string
        week_start:
          type: integer
        hobby:
          type: boolean
        script_url:
          type: string
        snippet:
          type: string
          description: The ready-to-paste script tag.

    SiteSnippet:
      type: object
      required: [site_id, script_url, snippet]
      properties:
        site_id:
          type: integer
          format: int64
        script_url:
          type: string
        snippet:
          type: string
          description: >
            The tag to paste, ready as it stands — install it verbatim rather than
            rebuilding it from `script_url`. A hobby site's tag carries a
            `data-id` attribute as well: its script is a `/t/` bundle addressed by
            hash, and that attribute is the only place the counter inside it can
            read the site id. A tag for a paid site needs no attributes.
          examples:
            - "<script defer src=\"https://cdn.statable.com/js/3195799/s.js\"></script>"
            - "<script defer src=\"https://cdn.statable.com/js/07k1eD84d2/t/gw.js\" data-id=\"3195799\"></script>"

    BootstrapSendOTPRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          description: The address that will receive the code and own the account.
          examples: ["agent@yourcompany.com"]

    BootstrapSendOTPResponse:
      type: object
      required: [sent, email]
      properties:
        sent:
          type: boolean
          description: Always true. Says nothing about whether the account existed.
        email:
          type: string
          format: email
          description: The normalized (lower-cased, trimmed) address.

    BootstrapVerifyOTPRequest:
      type: object
      required: [email, code, accept_terms]
      properties:
        email:
          type: string
          format: email
        code:
          type: string
          description: >
            The code from the email. Single-use; three wrong guesses destroy it.
          examples: ["123456"]
        accept_terms:
          type: boolean
          description: >
            Must be true. Recorded server-side with the version, channel `api`,
            IP and User-Agent as the account's acceptance evidence.
        terms_version:
          type: string
          description: >
            The version being accepted. Defaults to the server's current version.
          examples: ["2026-07-01"]
        key_name:
          type: string
          maxLength: 100
          default: agent bootstrap
        scopes:
          type: array
          description: >
            Must be within `API_BOOTSTRAP_SCOPES` (default `read,sites:write`).
            Omitted = that whole set. `billing:write` is never available here.
          items:
            type: string
            enum: [read, sites:write, keys:manage, billing:write]
        expires_in_days:
          type: integer
          minimum: 1
          maximum: 365
          default: 90

    BootstrapVerifyOTPResponse:
      type: object
      required: [token, key, user, created]
      properties:
        token:
          type: string
          description: The raw bearer token, returned exactly once.
          examples: ["stbl_Z9y8X7w6…"]
        key:
          $ref: "#/components/schemas/APIKey"
        user:
          type: object
          required: [id, email]
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
              format: email
        created:
          type: boolean
          description: >
            True when this call registered a new account; false when the address
            already had one and simply received an additional key.

    APIKeyList:
      type: object
      required: [keys]
      properties:
        keys:
          type: array
          items:
            $ref: "#/components/schemas/APIKey"

    CreateAPIKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        scopes:
          type: array
          description: >
            Defaults to ["read"]. Must be a subset of the authenticating key's
            scopes, else 403 scope_escalation.
          items:
            type: string
            enum: [read, "sites:write", "keys:manage", "billing:write"]
        website_id:
          type: [integer, "null"]
          format: int64
          description: >
            Lock the new key to one site. Omit/null = all of the owner's sites.
            A single-site key MUST pass its own site id here.
        expires_in_days:
          type: integer
          minimum: 1
          maximum: 365
          default: 90
          description: Outside 1–365 → 400 invalid_expiry.

    CreatedAPIKey:
      description: >
        The created (or rotated) key plus its raw token. The token is returned
        exactly once and cannot be retrieved later.
      allOf:
        - $ref: "#/components/schemas/APIKey"
        - type: object
          required: [token]
          properties:
            token:
              type: string
              description: The raw bearer token. Store it now.
              examples: ["stbl_Z9y8X7w6…"]

    APIKeyEvent:
      type: object
      required: [event, created_at]
      properties:
        event:
          type: string
          enum: [created, rotated, revoked]
        ip:
          type: [string, "null"]
        user_agent:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
        actor_key_id:
          type: [integer, "null"]
          format: int64
          description: The API key that performed the action; null = the dashboard.

    APIKeyEventList:
      type: object
      required: [events]
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/APIKeyEvent"

    FunnelStep:
      type: object
      description: >
        One step of a funnel definition. `kind` selects which other fields apply.
      required: [kind]
      properties:
        kind:
          type: string
          enum: [page, event, goal, scroll, entry_page, exit_page]
        path:
          type: string
          description: URL path — for kind page/entry_page/exit_page.
        operator:
          type: string
          description: Path match operator (e|b|c|r) — for kind page.
        event:
          type: string
          description: Custom event name — for kind event.
        prop_key:
          type: string
          description: Optional custom-property key — for kind event.
        prop_value:
          type: string
          description: Optional custom-property value — for kind event.
        goal_id:
          type: integer
          format: int64
          description: Goal id — for kind goal.
        threshold:
          type: integer
          description: Scroll depth 0..100 — for kind scroll.

    FunnelDefinition:
      type: object
      description: A saved funnel definition (managed in the dashboard).
      properties:
        id: { type: integer, format: int64 }
        site_id: { type: integer, format: int64 }
        name: { type: string }
        scope:
          type: string
          enum: [visitor, session]
        strict_order:
          type: boolean
          description: When true, steps must occur in exact order (windowFunnel strict_order).
        steps:
          type: array
          items:
            $ref: "#/components/schemas/FunnelStep"
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    FunnelReportRequest:
      type: object
      required: [date_range]
      properties:
        site_id:
          type: integer
          format: int64
          description: Optional for a single-site key; required for an all-sites key.
        date_range:
          $ref: "#/components/schemas/DateRange"
        filters:
          type: array
          description: >
            Segment/session filters only (country, browser, os, device, source,
            channel, referrer, utm_*, entry_page, exit_page, hostname). Event-level
            fields (event, page, code) return `invalid_filter`.
          items:
            $ref: "#/components/schemas/Filter"

    FunnelReportStep:
      type: object
      description: One step's outcome. Steps are ordered — do not sort them.
      properties:
        index:
          type: integer
          description: 0-based position in the funnel.
        name: { type: string }
        kind:
          type: string
          enum: [page, event, goal, scroll, entry_page, exit_page]
        visitors:
          type: integer
          format: int64
          description: Visitors/visits that reached this step.
        conversion_rate:
          type: number
          description: visitors / entering * 100 — cumulative vs the first step, NOT step-to-step.
        dropoff:
          type: integer
          format: int64
          description: Visitors lost versus the previous step.

    FunnelReportResponse:
      type: object
      properties:
        funnel:
          type: object
          properties:
            id: { type: integer, format: int64 }
            name: { type: string }
            scope: { type: string, enum: [visitor, session] }
            strict_order: { type: boolean }
        entering:
          type: integer
          format: int64
          description: Visitors that reached step 0 — the funnel's denominator.
        all_visitors:
          type: integer
          format: int64
          description: Total visitors/visits in the period (funnel-independent).
        steps:
          type: array
          items:
            $ref: "#/components/schemas/FunnelReportStep"
        query:
          type: object
          description: The resolved request (site_id, funnel_id, normalized date_range, filters).
